<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-4">
                <div class="footercontentwrap">
                    <div class="footer-logo">
                        <img [lazyLoad]="imagefooterlogo" width="270px">
                    </div>
                    <Div class="footerdicription">
                        <p>Dr. Niti Gaur has set up Citrine Clinic and Aesthetics to provide the highest
                            quality of skin care with the transparent and ethical practices of dermatology.
                            <span>At the clinic, you will experience the best skincare with a beautiful blend of
                                clinical dermatology & modern cosmetic innovation while adhering to an uncompromising
                                code of ethical standards of medical care.</span>
                        </p>
                    </Div>
                </div>
                <div class="socialbuttonwrap">
                    <div class="footorbutton">
                        <a routerLink="/book-an-appointment">Request An Appointment</a>
                    </div>
                    <div class="socialwrap">
                        <p>Follow Us On</p>
                        <ul>
                            <li><a href="https://www.facebook.com/citrineclinicbydrniti/" target="_blank" class="facebook-hover"><i class="fa fa-facebook"></i></a></li>
                            <!-- <li><a routerLink="/"  class="twitter-hover"><i class="fa fa-twitter"></i></a></li> -->
                            <li><a href="https://www.instagram.com/citrineclinic/" target="_blank"  class="insta-hover"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="https://www.youtube.com/@citrineclinicbydr.nitigaur2957" target="_blank"  class="youtube-hover"><i class="fa fa-youtube-play"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-2">
                <div class="footerlinks-wrap">
                    <div class="footerheading">Useful Links</div>
                    <div class="footer-links">
                        <ul>
                            <li><a routerLink="/">Home</a></li>
                            <li><a routerLink="/dermatologist-in-gurgaon">About Doctor</a></li>
                            <li><a routerLink="/skin-clinic-in-gurgaon">About Clinic</a></li>
                            <li><a routerLink="/clinic-gallery">Gallery</a></li>
                            <li><a routerLink="/testimonials">Written Testimonials</a></li>
                            <li><a routerLink="/blog">Blogs</a></li>
                            <li><a routerLink="/technologies">Technologies</a></li>
                            <li><a>Real Results</a></li>
                            <li><a routerLink="/contact">Contact Us</a></li>
                        </ul>
                    </div>
        </div>
            </div>

            <div class="col-12 col-lg-3">
                <div class="footerlinks-wrap">
                    <div class="footerheading">Our Services</div>
                    <div class="footer-links">
                        <ul>
                            <li><a routerLink="/fairness-and-pigmentation">Skin Toning & Pigmentation</a></li>
                            <li><a routerLink="/general-dermatology">General Dermatology</a></li>
                            <li><a routerLink="/aging-skin">Aging Skin and Facial Contouring</a></li>
                            <li><a routerLink="/acne-scars">Acne &amp; Scars</a></li>
                            <li><a routerLink="/unwanted-body-hair">Unwanted Hair</a></li>
                            <li><a routerLink="/hair-treatments">Hair Treatments</a></li>
                            <li><a routerLink="/medical-facial">Medical Facial</a></li>
                            <li><a routerLink="/skin-tightening-and-stretch-marks">Skin Tightening &amp; Stretch Marks</a></li>
                            <li><a routerLink="/skin-allergy">Skin Allergy</a></li>
                            <li><a routerLink="/infections">Infections</a></li>
                            <li><a routerLink="/bridal-dermatology">Bridal Dermatology</a></li>
                            <li><a routerLink="/dermato-surgery">Dermato Surgery</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-3">
                <div class="footerlinks-wrap">
                    <div class="footerheading">Address</div>
                    <div class="footer-address">
                        <p>SCO- 19, Huda Market Road Sector 15 Part 2, Market, Gurugram, Haryana 122001 India</p>
                    </div>
                    <div class="footer-call">
                        <p><a href="tel:9868 649 805"><i class="fa fa-phone-square"></i>+91-9868 649 805</a></p>
                        <p class="second-call"><a href="tel:9319581808">+91-9319 581 808</a></p>
                    </div>
                    <div class="landline">
                        <p class="landline-call"><a href="tel:0124-4114808">0124 411 4808</a></p>
                        <p class="landline-calle"><a href="tel:0124-4116808">0124 411 6808</a></p>
                    </div>

                    <div class="footer-email">
                        <p><a href="mailto:info@citrineclinic.com"><i class="fa fa-envelope"></i>
                                info@citrineclinic.com</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="disclamer-wrap"><span>Disclaimer:</span> This website's information is exclusively intended to educate and raise awareness about dermatology. This is not to be considered a substitute for professional medical advice or a prescription. Since each individual and case is unique, the outcomes of any of the treatments indicated on the page may vary.</p>
            </div>
        </div>
    </div>
</footer>
<div class="bottom-footer">
    <div class="container-fluid">
        <div class="row copyalignment">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="bottom-footerlink">
                    <ul>
                        <li><a routerLink="/privacy-policy">Privacy Policy</a></li>
                        <li><a routerLink="/trems-condition">Terms & Conditions</a></li>
                        <li><a routerLink="/">Legal Disclaimer</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <p class="copyright">© 2022 - 2023, <a routerLink="/">Citrine Clinic</a>. All Rights Reserved. Powered by <a routerLink="/">DigiLantern</a></p>
            </div>
        </div>
    </div>
</div>

<app-mobile-cta></app-mobile-cta>
<app-desktop-reauestacallback></app-desktop-reauestacallback>
