<div class="education-wrapper for-mobile">
    <div class="container">
        <div class="education-heading  commongold-heading">Education & Experience</div>
        <div class="row">
            <div class="col-6">
                <div class="educationdetail">
                    <div class="profession">MBBS, 2004</div>
                    <p>Byramjee Jeejeebhoy Government Medical College & Sasson General Hospital, Pune</p>
                </div>
            </div>
            <div class="col-6">
                <div class="educationdetail">
                    <div class="profession">MD, 2010</div>
                    <p>Dermatology, Venereology & Leprosy - Dr. D Y Patil Vidyapeeth, Pune</p>
                </div>
            </div>
        </div>
        <div class="row manage-education">
            <div class="col-12 col-sm-4 common-width">
                <div class="job-expheading">
                    <p>Consultant</p>
                    <p>2015-2017</p>
                </div>
                <div class="place">Kaya Skin Clinic</div>
            </div>
            
            <div class="col-12 col-sm-4 common-width">
                <div class="job-expheading">
                    <p>Senior Resident</p>
                    <p>2015-2017</p>
                </div>
                <div class="place">Lady Hardinge Medical College, Delhi</div>
            </div>
            <div class="col-12 col-sm-4 common-width">
                <div class="job-expheading">
                    <p>House Surgeon</p>
                    <p>2006-2006</p>
                </div>
                <div class="place">Ruby Hall Hospital</div>
            </div>
            <div class="col-12 col-sm-4 common-width">
                <div class="job-expheading">
                    <p>Senior Resident Dermatologist</p>
                    <p>2015-2017</p>
                </div>
                <div class="place">Jain Hospital</div>
            </div>

            <div class="col-12 col-sm-4 common-width">
                <div class="job-expheading">
                    <p>Senior Consultant Dermatologist</p>
                    <p>2015-2015</p>
                </div>
                <div class="place">Kiran Dermasurge</div>
            </div>

            <div class="col-12 col-sm-4 common-width">
                <div class="job-expheading">
                    <p>Senior Resident Dermatologist</p>
                    <p>2015-2015</p>
                </div>
                <div class="place">Anahat Multispeciality Hospital</div>
            </div>
        </div>
    </div>
</div>
