<div class="mobile-services-wrap for-mobile">
    <div class="container">
        <div class="mobileservices-heading">Our Services</div>
        <div class="row for-mobileslide">
            <div class="col-12 mobile-slide">
                <a routerLink="/dermal-fillers-treatment-in-gurgaon" class="mobileserviceimage">
                    <img class="w-100" [lazyLoad]="image1">
                    <p>Dermal Fillers</p>
                </a>
            </div>
            <div class="col-12 mobile-slide">
                <a routerLink="/laser-hair-removal-in-gurgaon" class="mobileserviceimage">
                    <img class="w-100" [lazyLoad]="image2">
                    <p>Laser Hair Reduction</p>
                </a>
            </div>
            <div class="col-12 mobile-slide">
                <a routerLink="/laser-toning-in-gurgaon" class="mobileserviceimage">
                    <img class="w-100" [lazyLoad]="image3">
                    <p>Laser Toning</p>
                </a>
            </div>
        </div>
    </div>
</div>
