
<div class="our-technologies-wrap">
    <div class="container">
        <div class="ourtechheading commongold-heading">Our Technologies</div>
        <div class="row">
            <div class="col-6 col-lg-3">
                <div class="dteck-wrap">
                    <div class="dteckimage-wrap">
                        <a routerLink="/technologies">
                            <img [lazyLoad]="image2" alt="Dr image" class="w-100">
                        </a>
                    </div>
                    <a routerLink="/technologies">Alma Harmony XL Pro</a>
                </div>

            </div>

            <div class="col-6 col-lg-3">
                <div class="dteck-wrap">
                    <div class="dteckimage-wrap">
                        <a routerLink="/technologies">
                            <img [lazyLoad]="image3" alt="Dr image" class="w-100">
                        </a>
                    </div>
                    <a routerLink="/technologies">Ultracel Q+</a>
                </div>

            </div>

            <div class="col-6 col-lg-3">
                <div class="dteck-wrap">
                    <div class="dteckimage-wrap">
                        <a routerLink="/technologies">
                            <img [lazyLoad]="image4" alt="Dr image" class="w-100">
                        </a>
                    </div>
                    <a routerLink="/technologies">Primelase LHR</a>
                </div>

            </div>

            <div class="col-6 col-lg-3">
                <div class="dteck-wrap">
                    <div class="dteckimage-wrap">
                        <a routerLink="/technologies">
                            <img [lazyLoad]="image5" alt="Dr image" class="w-100">
                        </a>
                    </div>
                    <a routerLink="/technologies">Secret MNRF</a>
                </div>

            </div>
        </div>
        <div class="techreadmore common-button">
            <a routerLink="/technologies">View All</a>
        </div>
    </div>
</div>