<div class="facility-wrap">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="about-facilityheading commongold-heading">About Our Facility</div>
                <p class="about-facilitytext">Citrine Clinic facility is modern and well-equipped, with state-of-the-art
                    technology and equipment for diagnostic and treatment purposes. The clinic also has a private
                    consultation room for patient privacy.
               The clinic also has a welcoming and friendly environment, with dedicated
                    and experienced staff to ensure that patients receive the best possible care. The clinic has a good
                    reputation and patient satisfaction, with before and after photos to show the results.
               Citrine Clinic dermatology clinic in Gurgaon is a specialized medical
                    facility that offers a wide range of services to treat various skin conditions and improve the
                    appearance of the skin. With the help of a qualified and experienced dermatologist at Citrine
                    Clinic, patients can achieve healthier, clearer, and more youthful-looking skin.</p>
            </div>
        </div>
        <div class="row manage-facility-width">
            <div class="col-12 col-lg-3 facility-width">
                <div class="facility-image">
                    <img class="w-100" [lazyLoad]="image1" alt="clinic image" class="w-100">
                </div>
            </div>

            <div class="col-12 col-lg-3 facility-width">
                <div class="facility-image">
                    <img class="w-100" [lazyLoad]="image2" alt="clinic image" class="w-100">
                </div>
            </div>

            <div class="col-12 col-lg-3 facility-width">
                <div class="facility-image">
                    <img class="w-100" [lazyLoad]="image3" alt="clinic image" class="w-100">
                </div>
            </div>

            <div class="col-12 col-lg-3 facility-width">
                <div class="facility-image">
                    <img class="w-100" [lazyLoad]="image4" alt="clinic image" class="w-100">
                </div>
            </div>
        </div>
    </div>
</div>