<section class="commonwrap">
    <picture>
        <source media="(min-width:768px)" srcset="assets/images/clinic/dumy-clinic.jpg">
        <source media="(min-width:320px)" srcset="assets/images/clinic/dumy-clinic.jpg">
        <!-- <img src="assets/images/home-doctor-bg.webp" alt="Dr image" class="w-100"> -->
        <img class="w-100" [lazyLoad]="image1" alt="Dr image" class="w-100" width="1500" height="" [defaultImage]="defaultImage" [useSrcset]="true">
    </picture>

    <div class="bredcurmbborder">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="bredcrumb">
                        <ul>
                            <li><a routerLink="/">Home</a></li>
                            <li><a >About Clinic</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>
<div class="for-mobile">
    <app-mobile-requestacallback></app-mobile-requestacallback> 
</div>

<section class="homeaboutwrap">
    <div class="container-fluid">
        <div class="container-max">
            <div class="row manage-homeaboutwrap">
                <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                    <div class="homeaboutcitrine">
                        <div class="homeaboutheading commongold-heading">Citrine Clinic</div>
                        <h1 class="commonh1heading bscgrugram">Best Skin Clinic in Gurgaon</h1>
                        <p>Dr. Niti Gaur has set up Citrine Clinic and Aesthetics to provide the highest quality of
                            skin care with the transparent and ethical practices of dermatology. At the clinic,
                            you will experience the best skincare with a beautiful blend of clinical dermatology &
                            modern cosmetic innovation while adhering to an uncompromising code of ethical standards
                            of medical care.The clinic is supervised under the guidance of Dr. Niti and is equipped with
                            advanced services making it the Best Skin Clinic in Gurgaon. It is Dr. Niti Gaur's quench
                            for
                            knowledge & desire to provide the best to her patients which compels her to regularly attend
                            various national & international conferences & workshops to remain up to date with the
                            recent
                            most advances in dermatology. Dr. Niti Gaur believes in establishing trust through honesty &
                            transparency.
                            It is her care & empathy which put all patients at ease within minutes</p>
                        <div class="readmore common-button">
                            <a routerLink="/">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6">

                    <div class="homeclinicimage for-desktop">
                        <img [lazyLoad]="image2" class="w-100">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-mobile-about-clinic-facility></app-mobile-about-clinic-facility>
<div class="candidate-wrap">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="candidate-content-wrap">
                    <div class="candidate-heading commongold-heading">Who is a Strong Candidate for dermatology treatments?</div>
                    <p>A strong candidate for receiving dermatology treatments is someone who is experiencing skin-related issues such as acne, pigmentation, vitiligo, acne scar, skin infection, hair loss, eczema, psoriasis, rosacea, warts, skin cancer, or any other condition that affects the skin, hair, or nails. </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="clinic-pointer">
                    <ul>
                        <li><i class="fa fa-check-circle"></i>It is also beneficial for individuals concerned about the appearance or health of their skin & hair, such as those looking to reduce the signs of aging or address sun damage. It is always recommended to consult a dermatologist to determine the best course of treatment for your individual needs.</li>
                        <li><i class="fa fa-check-circle"></i>Individuals who are looking to reduce the signs of aging, such as wrinkles or age spots, or address issues, such as acne scarring, uneven skin tone, or unwanted hair. </li>
                        <li><i class="fa fa-check-circle"></i>Additionally, healthy individuals with realistic expectations for the procedure are considered good candidates.</li>
                    </ul>
                </div>
            </div>

            <div class="col-12 col-lg-6">
                <div class="clinic-pointer">
                    <ul>
                        <li><i class="fa fa-check-circle"></i>People who are experiencing hair loss, thinning hair, or other issues related to the hair and scalp are also ideal candidates. This can include conditions such as androgenetic alopecia (male or female pattern baldness), alopecia areata (an autoimmune disorder that causes hair loss), telogen effluvium (temporary hair loss due to stress or hormonal changes), or other types of hair loss or hair disorders.</li>
                        <li><i class="fa fa-check-circle"></i>It is also beneficial for those who have a family history of hair loss or a genetic predisposition to hair loss. It is always recommended to consult a dermatologist to determine the cause of hair loss and the best course of treatment for an individual's needs.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="approch-wrap">
    <div class="container">
        <div class="approch-heading commongold-heading">Patient First Approach</div>
        <div class="row approch-messur">
            <div class="col-12 col-lg-6 approch-width">
                <div class="safity-wrap">
                    <div class="safity-heading commongold-heading">Patient Safety</div>
                    <p>Patient safety is a top priority at Citrine Clinic. To ensure patient safety, Citrine Clinic has policies and procedures in place to minimize the risk of infection, injuries, and medical errors. Some measures that Citrine Clinic take to ensure patient safety include maintaining a clean and well-organized environment, using sterilization and disinfection protocols for instruments and equipment, ensuring that staff members are properly trained and qualified to perform procedures, maintaining accurate medical records, and ensuring patient privacy, Providing patients with proper pre-procedure and post-procedure instructions, and having emergency protocols in place and trained staff to handle them.</p>
                </div>
            </div>
            <div class="col-12 col-lg-6 approch-width">
                <div class="safity-wrap">
                    <div class="safity-heading commongold-heading">Patient Trust</div>
                    <p>Patient trust is essential for a successful relationship between a patient and a dermatology clinic. At Citrine Clinic, a trustful relationship between a patient and doctor is built, which leads to better communication, better treatment outcomes, and increased patient satisfaction. We ensure it by providing clear and accurate information about procedures, treatments, and potential risks and benefits, respecting patients' time, values, and culture, and providing a clean, comfortable, and safe environment.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<app-mobile-home-dr></app-mobile-home-dr>
<div class="home-testimonial-wrap">
    <div class="hometestimonialheading commongold-heading">Patient Testimonial</div>
    <app-desktop-testimonial></app-desktop-testimonial>
    <app-mobile-home-testimonial></app-mobile-home-testimonial>
    <div class="hometestimonialexplorebutton common-button for-desktop">
        <a routerLink="/testimonials">Explore More</a>
    </div>
    <div class="hometestimonialexplorebutton common-button for-mobile">
        <a routerLink="/testimonials">View All</a>
    </div>
</div>
<app-mobile-appointment-form></app-mobile-appointment-form>

<app-desktop-appointment></app-desktop-appointment>
