<section class="mobile-services-wrap for-mobile">
    <div class="container">
        <div class="mobileservices-heading">Top Procedures</div>
        <div class="row for-mobileslide">
            <div class="col-12 col-md-12 col-lg-6 no-padding">
                <div class="moreabout-image">
                    <!-- <img src="assets/images/skinlogics-noida.jpg" alt="Skinlogics" class="w-100"> -->
                    <div id="slider-procedures" class="procedures-slider">
                        <input type="radio" class="playbuttonradio-circle-procedures" name="procedures" id="slide-procedures1" checked="" />
                        <input type="radio" class="playbuttonradio-circle-procedures" name="procedures" id="slide-procedures2" checked="" />
                        <input type="radio" class="playbuttonradio-circle-procedures" name="procedures" id="slide-procedures3" checked="" />
                        <input type="radio" class="playbuttonradio-circle-procedures" name="procedures" id="play-procedures1"  [checked]="isChecked" />

                        <div class="images-procedures">
                            <div class="images-inner-procedures">
                                <div class="image-slide-procedures">
                                    <div class="image-procedures">
                                        <div class="mobile-slide">
                                        <a routerLink="/dermal-fillers-treatment-in-gurgaon" class="mobileserviceimage">
                                            <img class="w-100" [lazyLoad]="image1">
                                            <p>Dermal <span>Fillers</span></p>
                                        </a>
                                        <a routerLink="/laser-hair-removal-in-gurgaon" class="mobileserviceimage" style="margin-top: 15px">
                                            <img class="w-100" [lazyLoad]="image5">
                                            <p>Laser Hair <span>Reduction</span></p>
                                        </a>
                                    </div>
                                    </div>
                                </div>
                                <div class="image-slide-procedures">
                                    <div class="image-procedures">
                                        <div class="mobile-slide">
                                        <a routerLink="/laser-toning-in-gurgaon" class="mobileserviceimage">
                                            <img class="w-100" [lazyLoad]="image2">
                                            <p>Laser <span>Toning</span></p>
                                        </a>
                                        <a routerLink="/" class="mobileserviceimage" style="margin-top: 15px">
                                            <img class="w-100" [lazyLoad]="image4">
                                            <p>Growth Factor <span>Concentrate</span></p>
                                        </a>
                                    </div>
                                    </div>
                                </div>
                                <div class="image-slide-procedures">
                                    <div class="image-procedures">
                                        <div class="mobile-slide">
                                        <a routerLink="/acne-scars" class="mobileserviceimage">
                                            <img class="w-100" [lazyLoad]="image3">
                                            <p>Acne & <span>Scar</span></p>
                                        </a>
                                        <a routerLink="/general-dermatology" class="mobileserviceimage" style="margin-top: 15px">
                                            <img class="w-100" [lazyLoad]="image6">
                                            <p>General  <span>Dermatology</span></p>
                                        </a>
                                    </div>

                                    </div>
                                </div>
                                <div class="image-slide-procedures">
                                    <div class="image-procedures">
                                        <div class="mobile-slide">
                                        <a routerLink="/anti-wrinkle-injection-in-gurgaon" class="mobileserviceimage">
                                            <img class="w-100" [lazyLoad]="image7">
                                            <p>Anti Wrinkle  <span>Injection</span></p>
                                        </a>
                                        <a routerLink="/dark-circles-treatment-gurgaon" class="mobileserviceimage" style="margin-top: 15px">
                                            <img class="w-100" [lazyLoad]="image8">
                                            <p>Dark  <span>Circle</span></p>
                                        </a>
                                    </div>

                                    </div>
                                </div>

                                <div class="image-slide-procedures">
                                    <div class="image-procedures">
                                        <div class="mobile-slide">
                                        <a routerLink="/hydrafacial-in-gurgaon" class="mobileserviceimage">
                                            <img class="w-100" [lazyLoad]="image9">
                                            <p>Hydrafacial <span> Treatment</span></p>
                                        </a>
                                        <a routerLink="/thread-lift-treatment-gurgaon" class="mobileserviceimage" style="margin-top: 15px">
                                            <img class="w-100" [lazyLoad]="image10">
                                            <p>Thread   <span>Lift</span></p>
                                        </a>
                                    </div>

                                    </div>
                                </div>

                                <div class="image-slide-procedures">
                                    <div class="image-procedures">
                                        <div class="mobile-slide">
                                        <a routerLink="/carbon-peel-treatment-in-gurgaon" class="mobileserviceimage">
                                            <img class="w-100" [lazyLoad]="image11">
                                            <p>Carbon <span>Peel</span></p>
                                        </a>
                                        <a routerLink="/freckles-treatment-in-gurgaon" class="mobileserviceimage" style="margin-top: 15px">
                                            <img class="w-100" [lazyLoad]="image12">
                                            <p>Freckles  <span>Treatment</span></p>
                                        </a>
                                    </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="labels-procedures">
                            <div class="fake-radio-procedures">
                                <label for="slide-procedures1" class="radio-btn-procedures"></label>
                                <label for="slide-procedures2" class="radio-btn-procedures"></label>
                                <label for="slide-procedures3" class="radio-btn-procedures"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="procedures-button common-button">
            <a routerLink="/services">View All</a>
        </div>
    </div>
</section>

