<div class="choosdr-wrap for-desktop">
    <div class="container">

        <div class="row manage-alienment">
            <div class="col-6">
                <div class="why-choose-image">
                    <img class="w-100" [lazyLoad]="image1">
                </div>
            </div>
            <div class="col-6">
                <div class="whychooseheadingsmall commongold-heading">Why Choose</div>
                <div class="whychooseheadingbig commongold-heading">Dr. Niti Gaur</div>
                <h2 class="commonh1heading bsdgm">Best Skin Doctor in Gurgaon</h2>
                <div class="whychoose-content">
                    <p>A Dermatologist with extensive expertise is more capable of addressing challenging cases. They
                        have resolved thousands of minor and hundreds of severe skin issues. Therefore, if you choose a
                        dermatologist with many years of experience, you can attain the skin of your dreams.</p>
                    <p>In Gurgaon, Dr. Niti Gaur has been a practicing Skin Specialist and has more than a decade of
                        experience in skin and hair treatments.</p>
                    <p>Dr. Niti Gaur listens attentively till you have thoroughly explained everything. This way, she
                        can fully comprehend your issue & devise an appropriate treatment strategy.</p>
                </div>

            </div>
            <div class="col-12">
                <div class="choose-pointer">
                    <ul>
                        <li><i class="fa fa-check-circle"></i> Citrine Clinic by Dr. Niti Gaur is one of the leading skin clinics in Gurgaon. Numerous individuals come here for routine dermal fillers, lip fillers, laser hair removal, anti-wrinkle injections, chemical peels, skin tightening, and rejuvenation treatments.</li>
                        <li><i class="fa fa-check-circle"></i> In addition, she provides flawless pigmentation therapy, wart removal, mole removal, skin tag removal, and other skin and hair treatments.</li>
                        <li><i class="fa fa-check-circle"></i> Dr. Niti Gaur is a famous Cosmetic Dermatologist who creates individualized skin care plans to treat your skin, hair, and nail concerns. She has a specific interest in instances of hair loss. She customizes hair growth injections, so that a hair transplant is unnecessary. In addition, she treats dark circles, under-eye puffiness, and under-eye wrinkles.</li>
                        <li><i class="fa fa-check-circle"></i> Dr. Niti Gaur is also well-trained in numerous anti-aging and other skin laser treatments. She ensures that the effects of your laser therapy or light therapy are optimal.</li>
                        <li><i class="fa fa-check-circle"></i> Dr. Niti Gaur also treats seborrheic dermatitis, atopic dermatitis, lichen planus, skin cancer, and other skin conditions in her state-of-the-art Gurgaon Citrine Clinic facility.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>