<div class="modalmainwrap">
  <div class="container">
    <div class="about-videosheading commongold-heading">Our Videos</div>
    <div class="row">
      <!-- <div class="col-12 col-lg-3">
        <div class="modal-container">
          <div class="cover-image">
            <img src="assets/images/mobile-laser-toning.jpg" class="w-100">
          </div>
          <input id="modal-toggle" type="checkbox">
          <label class="modal-btn" for="modal-toggle" (click)="toggleVideo('https://www.youtube.com/embed/ubaBG6enedk')" ><i class="fa fa-play-circle"></i></label>
          <label class="modal-backdrop" for="modal-toggle"></label>
          <div class="modal-content">
            <label class="modal-close" (click)="toggleVideo('')" for="modal-toggle" data-dismiss="modal">&#x2715;</label>
            <div>
                <iframe id="my_video_1" #videoPlayer width="600" height="400" [src]="videCheck(videoSatSource)" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-3">
        <div class="modal-container">
          <div class="cover-image">
            <img src="assets/images/mobile-laser-toning.jpg" class="w-100">
          </div>
          <input id="modal-toggle" type="checkbox">
          <label class="modal-btn" for="modal-toggle" (click)="toggleVideo('https://www.youtube.com/embed/ubaBG6enedk')" ><i class="fa fa-play-circle"></i></label>
          <label class="modal-backdrop" for="modal-toggle"></label>
          <div class="modal-content">
            <label class="modal-close" (click)="toggleVideo('')" for="modal-toggle" data-dismiss="modal">&#x2715;</label>
            <div>
                <iframe id="my_video_1" #videoPlayer width="600" height="400" [src]="videCheck(videoSatSource)" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div> -->

      <div class="col-12 col-lg-6">
        <div class="modal-container">
          <div class="cover-image">
            <img src="assets/images/clinic/cl-4.jpg" class="w-100">
          </div>
          <input id="modal-toggle" type="checkbox">
          <label class="modal-btn" for="modal-toggle" (click)="toggleVideo('https://www.youtube.com/embed/ubaBG6enedk')" ><i class="fa fa-play-circle"></i></label>
          <label class="modal-backdrop" for="modal-toggle"></label>
          <div class="modal-content">
            <label class="modal-close" (click)="toggleVideo('')" for="modal-toggle" data-dismiss="modal">&#x2715;</label>
            <div>
                <iframe id="my_video_1" #videoPlayer width="600" height="400" [src]="videCheck(videoSatSource)" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-6">
        <div class="modal-container">
          <div class="cover-image">
            <img src="assets/images/clinic/cl-5.jpg" class="w-100">
          </div>
          <input id="modal-toggle" type="checkbox">
          <label class="modal-btn" for="modal-toggle" (click)="toggleVideo('https://www.youtube.com/embed/ubaBG6enedk')" ><i class="fa fa-play-circle"></i></label>
          <label class="modal-backdrop" for="modal-toggle"></label>
          <div class="modal-content">
            <label class="modal-close" (click)="toggleVideo('')" for="modal-toggle" data-dismiss="modal">&#x2715;</label>
            <div>
                <iframe id="my_video_1" #videoPlayer width="600" height="400" [src]="videCheck(videoSatSource)" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="techreadmore common-button">
    <a routerLink="/book-an-appointment">View All</a>
</div>
</div>
