<div class="homeshort-services for-mobile">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="shortservices-wrap">
                    <a routerLink="/citrine/acne-scars">
                        <img [lazyLoad]="image1" class="w-100">
                        <p>Acne <span>Scars</span></p>
                    </a>
                </div>
            </div>
            <div class="col-6">
                <div class="shortservices-wrap">
                    <a routerLink="/hair-treatment">
                        <img [lazyLoad]="image2" class="w-100">
                        <p>Growth Factor <span>Concerntrate</span></p>
                    </a>
                </div>
            </div>
            <div class="col-6">
                <div class="shortservices-wrap">
                    <a routerLink="/medical-facial">
                        <img [lazyLoad]="image3" class="w-100">
                        <p>Medical <span>Dermatology</span></p>
                    </a>
                </div>
            </div>
            <div class="col-6">
                <div class="shortservices-wrap">
                    <a routerLink="/medical-facial/hydrafacial-in-gurgaon">
                        <img [lazyLoad]="image4" class="w-100">
                        <p>Hydrafacial</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>