<div class="mobile-services-wrap for-mobile">
    <div class="container">
        <div class="mobileservices-heading">Top Procedures</div>
        <div class="row for-mobileslide">
            <div class="col-12 mobile-slide">
                <a routerLink="/dermal-fillers-treatment-in-gurgaon" class="mobileserviceimage">
                    <img class="w-100" [lazyLoad]="image1">
                    <p>Dermal <span>Fillers</span></p>
                </a>
                <a routerLink="/laser-hair-removal-in-gurgaon" class="mobileserviceimage" style="margin-top: 30px;">
                    <img class="w-100" [lazyLoad]="image5">
                    <p>Laser Hair <span>Reduction</span></p>
                </a>
            </div>
            <div class="col-12 mobile-slide">
                <a routerLink="/laser-toning-in-gurgaon" class="mobileserviceimage">
                    <img class="w-100" [lazyLoad]="image2">
                    <p>Laser <span>Toning</span></p>
                </a>
                <a routerLink="/" class="mobileserviceimage" style="margin-top: 30px;">
                    <img class="w-100" [lazyLoad]="image4">
                    <p>Growth Factor <span>Concentrate</span></p>
                </a>
            </div>
            <div class="col-12 mobile-slide">
                <a routerLink="/acne-scars" class="mobileserviceimage">
                    <img class="w-100" [lazyLoad]="image3">
                    <p>Acne <span>Scar</span></p>
                </a>
                <a routerLink="/general-dermatology" class="mobileserviceimage" style="margin-top: 30px;">
                    <img class="w-100" [lazyLoad]="image6">
                    <p>General  <span>Dermatology</span></p>
                </a>
            </div>
        </div>
    </div>
</div>


